@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap');


/* Div Box for tesitng screen sizes */
#scr-box{ 
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    position:fixed;
}

:root{
    /* --subtitle-font: 'Roboto Mono', monospace; */
    --subtitle-font: 'Gwendolyn', cursive;
    --bio-alink-image-hover: url(../img/alink-images/bio-alink-hover.png);
    --resume-alink-image-hover: url(../img/alink-images/resume-alink-hover.png);
    --blog-alink-image-hover: url(../img/alink-images/blog-alink-hover.png);
}

/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}
 
.container{
    background-image: url(../img/hero-page-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-background{
    height: 100lvh;
    max-width: 100%;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Logo CSS */
#logo-container{
    padding: 3rem 1rem;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;

    max-width: 75%;
}
#logo-container img{
    max-width: 100%;
}
#logo-container h2{
    text-align: center;
    color: white;
}

/* Intro Section CSS */
#intro-section{
    gap: 1rem;
}
.hero-page-alinks{
    max-width: 80%;
    width: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    height: 5rem;

    background-size: cover;
    background-position: center;

    border-radius: 50px;

    color: white;
    text-decoration: none;
    border: solid white 0.1rem;

    font-family: var(--subtitle-font);
    font-size: 2rem;
    text-shadow: 0rem 0rem 1rem #FFF;
    /* ^ = y pos, x pos, thickness, color */
}

.hero-page-alinks:hover{
    max-width: 85%;
    height: 5.5rem;
    border: solid white 0.2rem;

    font-size: 2.5rem;
    text-shadow: 0rem 0rem 1rem #FFF;
}


#resume-alink{
    background-image: url(../img/alink-images/resume-alink.png)
}
#bio-alink{
    background-image: url(../img/alink-images/bio-alink.png)
}
#blog-alink{
    background-image: url(../img/alink-images/blog-alink.png)
}

#resume-alink:hover{
    background-image: var(--resume-alink-image-hover);
}
#bio-alink:hover{
    background-image: var(--bio-alink-image-hover);
}
#blog-alink:hover{
    background-image: var(--blog-alink-image-hover);
}

/* Class for making YouTube/Vimeo videos responsive */
figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	#scr-box{ 
        background-color: orange;
    }

    #logo-container{
        margin: 0 auto;
    
        max-width: 50%;
    }
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	#scr-box{ 
        background-color: navy;
    }
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
    #scr-box{ 
        background-color: bisque;
    }
	
	
	
} /* closes 1024px+ */